<section class="hero is-primary is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
              <label class="label is-medium">PharmEqui</label>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Equivalência Terapêutica
        </h1>
        <span></span>
        <span></span>
        <h2 class="label is-large">
          Doença
        </h2>
        <div class="columns is-mobile is-8">
          <div class="column is-5"></div>
          <div class="column">
            <div class="field is-centered">
              <div class="control">
                <div class="select is-medium">
                  <select>
                    <option>Hipertensão</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span></span>
        <div class="columns is-mobile is-gapless">
          <div class="column is-4"></div>
          <div class="column"></div>
          <div class="column">
              <a class="button is-white">Clínica</a>
          </div>
          <div class="column">
              <a class="button is-white">Pesquisa</a>
          </div>
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <div class="columns">
          <div class="column is-offset-11">
            <label class="label">
              <p>
                  <strong>Pharmequi</strong> by ORAH
              </p>
            </label>
          </div>
        </div>
    </div>
  </section>